version: '3.7'

x-default-opts: 
  &default-opts
  logging:
    options:
      max-size: "${SIMVA_LOGGING_MAX_FILE_SIZE}"
      max-file: "${SIMVA_LOGGING_MAX_FILES}"
  # driver: "gelf"
  # options:
  #   gelf-address: "udp://127.0.0.1:5000"

networks:
  traefik_services:
    name: "${SIMVA_SERVICE_NETWORK:-traefik_services}"
    external: true

services:
  socket-proxy:
    << : *default-opts
    image: tecnativa/docker-socket-proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      LOG_LEVEL: "${SIMVA_SOCKET_PROXY_LOG_LEVEL:-info}"
      NETWORKS: 1
      #SERVICES: 1
      CONTAINERS: 1
      #SWARM: 1
      #TASKS: 1
    healthcheck:
      test: "wget --quiet --tries=1 --spider http://localhost:2375/_ping"
      interval: 60s
      timeout: 20s
      retries: 3
    restart: unless-stopped
    hostname: "socket-proxy.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
    networks:
      default:
        aliases:
          - "socket-proxy.${SIMVA_INTERNAL_DOMAIN:-internal.test}"

  traefik:
    << : *default-opts
    image: traefik:2.2.11
    entrypoint:
      - '/bin/sh'
      - '-c'
      - |
        mkdir -p /etc/traefik/dynamic-config;
        cat << EOF > /etc/traefik/dynamic-config/file-provider.toml
        [[tls.certificates]]
          certFile = "/etc/traefik/ssl/traefik-fullchain.pem"
          keyFile = "/etc/traefik/ssl/traefik-key.pem"
          stores = ["default"]

        [tls.stores]
          [tls.stores.default]
            [tls.stores.default.defaultCertificate]
              certFile = "/etc/traefik/ssl/traefik-fullchain.pem"
              keyFile  = "/etc/traefik/ssl/traefik-key.pem"

        [tls.options]
          [tls.options.default]
            minVersion = "VersionTLS12"

        [http.middlewares]
          [http.middlewares.dashboardAuth.basicAuth]
            # admin:password
            users = [
              "${SIMVA_TRAEFIK_DASHBOARD_USER:?Traefik dashboard username must be configured}:${SIMVA_TRAEFIK_DASHBOARD_PASSWORD:?Traefik's dashboard password must be configured}"
            ]
          [http.middlewares.secHeaders.headers]
            #// accessControlAllowHeaders = "Set-Cookie,Content-Type"
            #// accessControlAllowMethods = ["GET", "POST", "DELETE", "OPTIONS", "PUT"]
            #// accessControlAllowOrigin = "*"
            contentTypeNosniff = true
            #customFrameOptionsValue = "ALLOW-FROM https://simva.e-ucm.es"
            #contentSecurityPolicy = "frame-src 'self' https://${SIMVA_EXTERNAL_DOMAIN:-external.test} https://*.${SIMVA_EXTERNAL_DOMAIN:-external.test}; frame-ancestors 'self' https://${SIMVA_EXTERNAL_DOMAIN:-external.test} https://*.${SIMVA_EXTERNAL_DOMAIN:-external.test}; object-src 'none'; ${SIMVA_TRAEFIK_EXTRA_CSP_POLICY}"
        EOF
        exec /entrypoint.sh "$$@"
    command:
      - "--"
      - "traefik"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SIMVA_TLS_HOME:?TLS home folder required}:/etc/traefik/ssl:ro
      - ${SIMVA_CONFIG_HOME:-/home/vagrant/docker-stacks/config}/traefik/traefik/static-conf:/etc/traefik
    depends_on:
      - socket-proxy
    healthcheck:
      test: "traefik healthcheck --entryPoints.ping.address=:8082 --ping.entryPoint=ping --ping"
      interval: 10s
      timeout: 20s
      retries: 3
    restart: unless-stopped
    hostname: "${SIMVA_TRAEFIK_HOST_SUBDOMAIN:-traefik}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
    networks:
      default:
        aliases:
          - "${SIMVA_TRAEFIK_HOST_SUBDOMAIN:-traefik}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
      traefik_services:
        aliases:
          - "${SIMVA_TRAEFIK_HOST_SUBDOMAIN:-traefik}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
          - "${SIMVA_SSO_HOST_SUBDOMAIN:-sso}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
          - "${SIMVA_LIMESURVEY_HOST_SUBDOMAIN:-limesurvey}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
          - "${SIMVA_MINIO_HOST_SUBDOMAIN:-minio}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
          - "${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"  
          - "${SIMVA_EXTERNAL_DOMAIN:-external.test}"
          - "${SIMVA_JUPYTER_HOST_SUBDOMAIN:-jupyter}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
    labels:
      - "dps.network=${SIMVA_SERVICE_NETWORK:-traefik_services}"
      - "traefik.enable=true"
      # Access API enpoint through traefik itself
      - "traefik.http.services.api.loadbalancer.server.port=8080"
      - "traefik.http.routers.dashboard.rule=Host(`${SIMVA_TRAEFIK_HOST_SUBDOMAIN:-traefik}.${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=dashboardAuth@file"
