version: '3.7'

x-default-opts: 
  &default-opts
  logging:
    options:
      max-size: "${SIMVA_LOGGING_MAX_FILE_SIZE}"
      max-file: "${SIMVA_LOGGING_MAX_FILES}"
  # driver: "gelf"
  # options:
  #   gelf-address: "udp://127.0.0.1:5000"

services:
  traefik:
    << : *default-opts
    networks:
      traefik_services:
        aliases:
          - "${SIMVA_TRAEFIK_HOST_SUBDOMAIN:-traefik}-lb.${SIMVA_INTERNAL_DOMAIN:-internal.test}"

  nginx:
    << : *default-opts
    image: ${SIMVA_NGINX_IMAGE:-nginx}:${SIMVA_NGINX_VERSION:-1.19.2} #stable-alpine3.19
    environment:
      #LOAD BALANCER IP
      SIMVA_LOAD_BALANCER_IP: ${SIMVA_LOAD_BALANCER_IPS:-172.30.0.80}
      #TLS CERTIFICATES FILENAMES
      SIMVA_TRAEFIK_FULLCHAIN_CERT_FILENAME: ${SIMVA_TRAEFIK_FULLCHAIN_CERT_FILENAME:-fullchain.pem}
      SIMVA_TRAEFIK_KEY_FILENAME: ${SIMVA_TRAEFIK_KEY_FILENAME:-privkey.pem}
      SIMVA_TRAEFIK_SHLINK_FULLCHAIN_CERT_FILENAME: ${SIMVA_TRAEFIK_SHLINK_FULLCHAIN_CERT_FILENAME:-fullchain.pem}
      SIMVA_TRAEFIK_SHLINK_KEY_FILENAME: ${SIMVA_TRAEFIK_SHLINK_KEY_FILENAME:-privkey.pem}
      #EXTERNAL SERVER LIST NAME
      SIMVA_EXTERNAL_DOMAIN: ${SIMVA_EXTERNAL_DOMAIN:-external.test}
      SIMVA_SERVER_LIST_NAME: ${SIMVA_SERVER_LIST_NAME:-simva-servers}
      SIMVA_MINIO_HOST_SUBDOMAIN: ${SIMVA_MINIO_HOST_SUBDOMAIN:-minio}
      #INTERNAL USE HOST SUBDOMAINS
      SIMVA_INTERNAL_DOMAIN: ${SIMVA_INTERNAL_DOMAIN:-internal.test}
      SIMVA_SHLINK_EXTERNAL_DOMAIN: ${SIMVA_SHLINK_EXTERNAL_DOMAIN:-external.test}
      SIMVA_TRAEFIK_HOST_SUBDOMAIN: ${SIMVA_TRAEFIK_HOST_SUBDOMAIN:-traefik}-lb
      SIMVA_NGINX_HOST_SUBDOMAIN: ${SIMVA_NGINX_HOST_SUBDOMAIN:-nginx}
      SIMVA_WHOAMI_NGINX_HOST_SUBDOMAIN: ${SIMVA_WHOAMI_NGINX_HOST_SUBDOMAIN:-nginx-whoami}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "${SIMVA_CONFIG_TEMPLATE_HOME:-/home/vagrant/docker-stacks/config-template}/traefik/nginx:/etc/nginx/templates:ro"
      - "${SIMVA_TLS_HOME:?TLS home folder required}:/etc/traefik/ssl:ro"
    depends_on:
      - traefik
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    restart: unless-stopped
    hostname: "${SIMVA_NGINX_HOST_SUBDOMAIN:-nginx}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
    networks:
      default:
        aliases:
          - "${SIMVA_NGINX_HOST_SUBDOMAIN:-nginx}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
      traefik_services:
        ipv4_address: "${SIMVA_LOAD_BALANCER_IPS:-172.30.0.80}"
        aliases:
          - "${SIMVA_NGINX_HOST_SUBDOMAIN:-nginx}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"

  nginx-whoami:
    << : *default-opts
    image: ${SIMVA_WHOAMI_IMAGE:-containous/whoami}:${SIMVA_WHOAMI_VERSION:-latest}
    volumes:
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    hostname: "${SIMVA_WHOAMI_NGINX_HOST_SUBDOMAIN:-nginx-whoami}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
    networks:
      default:
        aliases:
          - "${SIMVA_WHOAMI_NGINX_HOST_SUBDOMAIN:-nginx-whoami}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
      traefik_services:
        aliases:
          - "${SIMVA_WHOAMI_NGINX_HOST_SUBDOMAIN:-nginx-whoami}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.whoami-nginx.loadbalancer.server.port=80"
      - "traefik.http.routers.whoami-nginx.rule=Host(`${SIMVA_WHOAMI_NGINX_HOST_SUBDOMAIN:-nginx-whoami}.${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"
