version: '3.7'

x-default-opts: 
  &default-opts
  logging:
    options:
      max-size: "${SIMVA_LOGGING_MAX_FILE_SIZE}"
      max-file: "${SIMVA_LOGGING_MAX_FILES}"
  # driver: "gelf"
  # options:
  #   gelf-address: "udp://127.0.0.1:5000"

services:
  nginx:
    << : *default-opts
    image: nginx:1.19.2 #stable-alpine3.19
    environment:
      SIMVA_LOAD_BALANCER_IP: ${SIMVA_LOAD_BALANCER_IPS:-172.30.0.80}
      SIMVA_TRAEFIK_HOST_SUBDOMAIN: ${SIMVA_TRAEFIK_HOST_SUBDOMAIN:-traefik}
      SIMVA_SSO_HOST_SUBDOMAIN: ${SIMVA_SSO_HOST_SUBDOMAIN:-sso}
      SIMVA_MAIL_HOST_SUBDOMAIN: ${SIMVA_MAIL_HOST_SUBDOMAIN:-mail}
      SIMVA_LIMESURVEY_HOST_SUBDOMAIN: ${SIMVA_LIMESURVEY_HOST_SUBDOMAIN:-limesurvey}
      SIMVA_MINIO_HOST_SUBDOMAIN: ${SIMVA_MINIO_HOST_SUBDOMAIN:-minio}
      SIMVA_MINIO_API_HOST_SUBDOMAIN: ${SIMVA_MINIO_API_HOST_SUBDOMAIN:-minio-api}
      SIMVA_SIMVA_API_HOST_SUBDOMAIN: ${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}
      SIMVA_JUPYTER_HOST_SUBDOMAIN: ${SIMVA_JUPYTER_HOST_SUBDOMAIN:-jupyter}
      SIMVA_TMON_DASHBOARD_HOST_SUBDOMAIN: ${SIMVA_TMON_DASHBOARD_HOST_SUBDOMAIN:-tmon}
      SIMVA_INTERNAL_DOMAIN: ${SIMVA_INTERNAL_DOMAIN:-internal.test}
      SIMVA_EXTERNAL_DOMAIN: ${SIMVA_EXTERNAL_DOMAIN:-external.test}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "${SIMVA_CONFIG_HOME:-/home/vagrant/docker-stacks/config}/traefik/nginx/templates:/etc/nginx/templates:ro"
      - "${SIMVA_TLS_HOME:?TLS home folder required}:/etc/traefik/ssl:ro"
    depends_on:
      - traefik
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    restart: unless-stopped
    hostname: "nginx.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
    networks:
      default:
        aliases:
          - "nginx.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
      traefik_services:
        ipv4_address: "${SIMVA_LOAD_BALANCER_IPS:-172.30.0.80}"
        aliases:
          - "nginx.${SIMVA_INTERNAL_DOMAIN:-internal.test}"

  nginx-whoami:
    << : *default-opts
    image: containous/whoami
    volumes:
      - /etc/localtime:/etc/localtime:ro
    hostname: "nginx-whoami.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
    networks:
      default:
        aliases:
          - "nginx-whoami.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
      traefik_services:
        aliases:
          - "nginx-whoami.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.whoami-nginx.loadbalancer.server.port=80"
      - "traefik.http.routers.whoami-nginx.rule=Host(`nginx-whoami.${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"
