version: '3.7'

x-default-opts: 
  &default-opts
  logging:
    options:
      max-size: "${SIMVA_LOGGING_MAX_FILE_SIZE}"
      max-file: "${SIMVA_LOGGING_MAX_FILES}"
  # driver: "gelf"
  # options:
  #   gelf-address: "udp://127.0.0.1:5000"

services:
  whoami:
    << : *default-opts
    image: ${SIMVA_WHOAMI_IMAGE:-containous/whoami}:${SIMVA_WHOAMI_VERSION:-latest}
    restart: on-failure:${SIMVA_MAX_RETRIES:-20}
    hostname: "${SIMVA_WHOAMI_HOST_SUBDOMAIN:-whoami}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
    networks:
      default:
        aliases:
          - "${SIMVA_WHOAMI_HOST_SUBDOMAIN:-whoami}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
      traefik_services:
        aliases:
          - "${SIMVA_WHOAMI_HOST_SUBDOMAIN:-whoami}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.whoami.loadbalancer.server.port=80"
      - "traefik.http.routers.whoami.rule=Host(`${SIMVA_WHOAMI_HOST_SUBDOMAIN:-whoami}.${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"
  
  traefik:
    << : *default-opts
    networks:
      traefik_services:
        aliases:
          - ${SIMVA_WHOAMI_HOST_SUBDOMAIN}.${SIMVA_EXTERNAL_DOMAIN}
          - ${SIMVA_CSP_REPORTER_HOST_SUBDOMAIN}.${SIMVA_EXTERNAL_DOMAIN}
          - ${SIMVA_PHPMYADMIN_HOST_SUBDOMAIN:-phpmyadmin}.${SIMVA_EXTERNAL_DOMAIN:-external.test}
          - ${SIMVA_KAFKA_UI_HOST_SUBDOMAIN:-kafka-ui}.${SIMVA_EXTERNAL_DOMAIN:-external.test}
          - ${SIMVA_ZOONAVIGATOR_HOST_SUBDOMAIN:-zoonavigator}.${SIMVA_EXTERNAL_DOMAIN:-external.test}
          - ${SIMVA_MONGO_UI_HOST_SUBDOMAIN:-simva-mongo-ui}.${SIMVA_EXTERNAL_DOMAIN:-external.test}
          - ${SIMVA_SHLINK_ADMIN_HOST_SUBDOMAIN:-shlink-admin}.${SIMVA_EXTERNAL_DOMAIN:-external.test}
          - ${SIMVA_JUPYTER_HOST_SUBDOMAIN:-jupyter}.${SIMVA_EXTERNAL_DOMAIN:-external.test}
          - ${SIMVA_PORTAINER_HOST_SUBDOMAIN:-portainer}.${SIMVA_EXTERNAL_DOMAIN:-external.test}
  csp-reporter:
    << : *default-opts
    image: ${SIMVA_NODE_IMAGE:-node}:${SIMVA_NODE_VERSION:-12.18.2}
    command: bash -c "cd /app && if [[ ! -d "node_modules" ]]; then npm install; fi && node ./index.js"
    stdin_open: true
    tty: true
    environment:
      DEBUG: "${SIMVA_DEBUG:-true}"
      NODE_ENV: "${SIMVA_ENVIRONMENT:-development}"
      PORT: "3003"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SIMVA_TLS_HOME?TLS home folder required}/ca:/var/lib/simva/ca
      - ${SIMVA_DATA_HOME:-/home/vagrant/docker-stacks/data}/traefik/csp-reporter:/app
    hostname: ${SIMVA_CSP_REPORTER_HOST_SUBDOMAIN:-csp-reporter}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    restart: on-failure:${SIMVA_MAX_RETRIES:-20}
    networks:
      default:
        aliases:
          - ${SIMVA_CSP_REPORTER_HOST_SUBDOMAIN:-csp-reporter}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      traefik_services:
        aliases:
          - ${SIMVA_CSP_REPORTER_HOST_SUBDOMAIN:-csp-reporter}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.csp-reporter.loadbalancer.server.port=3003"
      - "traefik.http.routers.csp-reporter.rule=Host(`${SIMVA_CSP_REPORTER_HOST_SUBDOMAIN:-csp-reporter}.${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.csp-reporter.middlewares=dashboardAuth@file"
