version: '3.7'

x-default-opts: 
  &default-opts
  logging:
    options:
      max-size: "${SIMVA_LOGGING_MAX_FILE_SIZE}"
      max-file: "${SIMVA_LOGGING_MAX_FILES}"
  # driver: "gelf"
  # options:
  #   gelf-address: "udp://127.0.0.1:5000"

networks:
  traefik_services:
    name: "${SIMVA_SERVICE_NETWORK:-traefik_services}"
    external: true

services:
# https://github.com/minio/minio/issues/7394#issuecomment-476552537
# https://github.com/minio/minio/blob/master/docs/sts/web-identity.md
# https://github.com/minio/minio/blob/master/docs/sts/keycloak.md
# https://github.com/minio/minio/blob/master/docs/sts/wso2.md
  minio:
    << : *default-opts
    image: ${SIMVA_MINIO_IMAGE:-minio/minio}:${SIMVA_MINIO_VERSION:-RELEASE.2020-09-26T03-44-56Z}
    entrypoint: >
      /bin/sh -c '
        if [ ! -e "/etc/ssl/certs/internal-CA.pem" ]; then
          cp /root/.minio/certs/CAs/rootCA.pem "/etc/ssl/certs/internal-CA.pem";
          cat "/etc/ssl/certs/internal-CA.pem" >> /etc/ssl/cert.pem;
        fi;
        /usr/bin/docker-entrypoint.sh $$@;
      '
    command:
     - '--'
     - 'server'
     - '/data'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - minio_data:/data
# be advised if minio is launched as a non-root user you need to change this setting
# Note too that this setting it is only needed if using a non-recognized CA
# (https://docs.min.io/docs/how-to-secure-access-to-minio-server-with-tls.html#install-certificates-from-third-party-cas)
      - ${SIMVA_TLS_HOME?TLS home folder required}/ca:/root/.minio/certs/CAs
    environment:
      MINIO_ACCESS_KEY: "${SIMVA_MINIO_ACCESS_KEY:-minio}"
      MINIO_SECRET_KEY: "${SIMVA_MINIO_SECRET_KEY:-secret}"
      WAIT_TIMEOUT: ${SIMVA_WAIT_TIMEOUT:-240}
      MC_WAIT_TIME: ${SIMVA_WAIT_TIME:-10}
      MC_MAX_RETRIES: ${SIMVA_MAX_RETRIES:-20}
    restart: on-failure:${SIMVA_MAX_RETRIES:-20}
    healthcheck:
      test: "curl -sS http://localhost:9000/minio/health/live || exit 1"
      interval: 30s
      timeout: 5s
      retries: 3
    hostname: ${SIMVA_MINIO_HOST_SUBDOMAIN:-minio}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - ${SIMVA_MINIO_HOST_SUBDOMAIN:-minio}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      traefik_services:
        aliases:
          - ${SIMVA_MINIO_HOST_SUBDOMAIN:-minio}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.minio.loadbalancer.server.port=9000"
      - "traefik.http.routers.minio.rule=Host(`${SIMVA_MINIO_HOST_SUBDOMAIN:-minio}.${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"


volumes:
  minio_data:
    external: true