version: '3.7'

x-default-opts: 
  &default-opts
  logging:
    options:
      max-size: "${SIMVA_LOGGING_MAX_FILE_SIZE}"
      max-file: "${SIMVA_LOGGING_MAX_FILES}"
  # driver: "gelf"
  # options:
  #   gelf-address: "udp://127.0.0.1:5000"

services:
  datasette:
    image : datasetteproject/datasette:latest
    command: "datasette
      /db/simva_data.db
      --host 0.0.0.0
      --port 8001
      --cors"
    volumes:
      - simva_sqlite_data:/db
    networks:
      default:
        aliases:
          - ${SIMVA_SQLITE_UI_HOST_SUBDOMAIN:-simva-sqlite-ui}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      traefik_services:
        aliases:
          - ${SIMVA_SQLITE_UI_HOST_SUBDOMAIN:-simva-sqlite-ui}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.sqlite.loadbalancer.server.port=8001"
      - "traefik.http.routers.sqlite.rule=Host(`${SIMVA_SQLITE_UI_HOST_SUBDOMAIN:-simva-sqlite-ui}.${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.sqlite.middlewares=dashboardAuth@file"
  
volumes:
  simva_sqlite_data:
    external: true