version: '3.7'

x-default-opts: 
  &default-opts
  logging:
    options:
      max-size: "${SIMVA_LOGGING_MAX_FILE_SIZE}"
      max-file: "${SIMVA_LOGGING_MAX_FILES}"
  # driver: "gelf"
  # options:
  #   gelf-address: "udp://127.0.0.1:5000"

networks:
  traefik_services:
    name: "${SIMVA_SERVICE_NETWORK:-traefik_services}"
    external: true
  kafka_services:
    name: "${SIMVA_KAFKA_NETWORK:-kafka_services}"
    external: true

services:
  simva-api:
    << : *default-opts
    command: ['bash', '/home/node/entrypoint.d/docker-startup.sh']
    stdin_open: true
    tty: true
    environment:
      #LOG
      LOG_LEVEL: "info"
      LOG_FOLDER: "/home/node/logs"
      #WAIT TIME FOR KEYCLOAK AVAILABILITY
      WAIT_TIMEOUT: ${SIMVA_WAIT_TIMEOUT:-240}
      MC_WAIT_TIME: ${SIMVA_WAIT_TIME:-10}
      MC_MAX_RETRIES: ${SIMVA_MAX_RETRIES:-20}
      #DEBUG
      DEBUG: "${SIMVA_DEBUG:-true}"
      #NODE
      NODE_ENV: "${SIMVA_ENVIRONMENT:-development}"
      NODE_EXTRA_CA_CERTS: "/var/lib/simva/tls/ca/rootCA.pem"
      #EXTERNAL URL
      EXTERNAL_URL: "https://${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      #SIMVA API (SELF)
      SIMVA_API_HOST: "${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      SIMVA_API_PORT: "${SIMVA_SIMVA_API_PORT:-443}"
      SIMVA_API_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      ADMIN_USERNAME: "${SIMVA_API_ADMIN_USERNAME:-admin}"
      ADMIN_EMAIL: "${SIMVA_API_ADMIN_USERNAME:-admin}@${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      ADMIN_PASSWORD: "${SIMVA_API_ADMIN_PASSWORD:-password}"
      MAX_UPLOAD_FILE_SIZE: "${SIMVA_MAX_UPLOAD_FILE_SIZE:-33554432}"
      #KAFKA
      KAFKA_HOST: "kafka1.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
      KAFKA_PORT: "9092"
      #MINIO
      MINIO_URL: "https://${SIMVA_MINIO_HOST_SUBDOMAIN:-minio}.${SIMVA_EXTERNAL_DOMAIN:-external.test}/"
      MINIO_API_URL: "${SIMVA_MINIO_API_HOST_SUBDOMAIN:-minio-api}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      MINIO_SSL: "true"
      MINIO_PORT: "443"
      MINIO_ACCESS_KEY: "${SIMVA_MINIO_ACCESS_KEY:-minio}"
      MINIO_SECRET_KEY: "${SIMVA_MINIO_SECRET_KEY:-secret}"
      MINIO_BUCKET: "${SIMVA_TRACES_BUCKET_NAME:-traces}"
      MINIO_TOPICS_DIR: "${SIMVA_SINK_TOPICS_DIR:-kafka-topics}"
      MINIO_TRACES_TOPIC: "${SIMVA_TRACES_TOPIC:-traces}"
      MINIO_OUTPUTS_DIR: "${SIMVA_SINK_OUTPUTS_DIR:-outputs}"
      MINIO_TRACES_FILE: "${SIMVA_SINK_TRACES_FILE:-traces.json}"
      MINIO_PRESIGNED_URL_FILE_EXPIRATION_TIME : "${SIMVA_MINIO_PRESIGNED_URL_FILE_EXPIRATION_TIME:-1h}" 
      #LIMESURVEY
      LIMESURVEY_HOST: "${SIMVA_LIMESURVEY_HOST_SUBDOMAIN:-limesurvey}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      LIMESURVEY_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      LIMESURVEY_PORT: "443"
      LIMESURVEY_EXTERNAL: "https://${SIMVA_LIMESURVEY_HOST_SUBDOMAIN:-limesurvey}.${SIMVA_EXTERNAL_DOMAIN:-external.test}/"
      LIMESURVEY_ADMIN_USER: "${SIMVA_LIMESURVEY_ADMIN_USER:-admin}"
      LIMESURVEY_ADMIN_PASSWORD: "${SIMVA_LIMESURVEY_ADMIN_PASSWORD:-secret}"
      LIMESURVEY_SECRET: "${SIMVA_LIMESURVEY_WEBHOOK_API_TOKEN:-secret}"
      LIMESURVEY_HEADER_NAME: "${SIMVA_LIMESURVEY_WEBHOOK_HEADER_NAME:-X-Signature-SHA256}"
      LIMESURVEY_HEADER_PREFIX: "${SIMVA_LIMESURVEY_WEBHOOK_HEADER_PREFIX:-}"
      LIMESURVEY_VERSION_NUMBER: "${SIMVA_LIMESURVEY_VERSION_NUMBER:-5}"
      #SSO KEYCLOAK
      SSO_ENABLED: "true"
      SSO_REALM: "${SIMVA_SSO_REALM:-simva}"
      SSO_CLIENT_ID: "${SIMVA_SIMVA_CLIENT_ID:-simva}"
      SSO_CLIENT_SECRET: "${SIMVA_SIMVA_CLIENT_SECRET:-secret}"
      SSO_STUDENT_ALLOWED_ROLE: "${SIMVA_STUDENT_ALLOWED_ROLE:-true}"
      SSO_TEACHING_ASSISTANT_ALLOWED_ROLE: "${SIMVA_TEACHING_ASSISTANT_ALLOWED_ROLE:-true}"
      SSO_TEACHER_ALLOWED_ROLE: "${SIMVA_TEACHER_ALLOWED_ROLE:-true}"
      SSO_RESEARCHER_ALLOWED_ROLE: "${SIMVA_RESEARCHER_ALLOWED_ROLE:-true}"
      SSO_SSL_REQUIRED: "external"
      SSO_PUBLIC_CLIENT: "false"
      SSO_HOST: "${SIMVA_SSO_HOST_SUBDOMAIN:-sso}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      SSO_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      SSO_PORT: "443"
      SSO_ADMIN_USER: "${SIMVA_ADMINISTRATOR_USER:-administrator}"
      SSO_ADMIN_PASSWORD: "${SIMVA_ADMINISTRATOR_PASSWORD:-administrator}"
      #A2
      A2_HOST: "${SIMVA_A2_HOST:-a2}"
      A2_PROTOCOL: "http"
      A2_PORT: "3000"
      A2_ADMIN_USER: "${SIMVA_A2_ADMIN_USER:-root}"
      A2_ADMIN_PASSWORD: "${SIMVA_A2_ADMIN_PASSWORD:-password}"
      A2_EXTERNAL: "https://${SIMVA_ANALYTICS_HOST_SUBDOMAIN:-analytics}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      #ANALYTICS BACKEND
      ANALYTICSBACKEND_API: "${SIMVA_A2_ANALYTICSBACKEND_API:-/api/proxy/gleaner}"
      #LTI
      LTI_PLATFORM_CLIENT_ID: "${SIMVA_LTI_PLATFORM_CLIENT_ID:-lti_platform}"
      LTI_PLATFORM_SIGNING_KEY: "${SIMVA_LTI_PLATFORM_CLIENT_SECRET:-secret}"
      #STORAGE
      SIMVA_STORAGE_PATH: "/storage/"
      #SHLINK
      SHLINK_SERVER_HOST: ${SIMVA_SHLINK_EXTERNAL_DOMAIN:-shlink.external.test}
      SHLINK_PORT: ${SIMVA_SHLINK_PORT:-443}
      SHLINK_PROTOCOL: ${SIMVA_SHLINK_EXTERNAL_PROTOCOL:-https}
      SHLINK_SERVER_API_KEY: ${SIMVA_SHLINK_API_KEY:-password}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SIMVA_TLS_HOME?TLS home folder required}:/var/lib/simva/tls
      - simva_storage_data:/storage
      - simva_api_logs:/root/.npm/_logs/
      - ${SIMVA_CONTAINER_TOOLS_HOME:-/home/vagrant/docker-stacks/container-tools}:/container-tools
      - ${STACK_HOME?STACK home folder required}/etc/entrypoint.d/docker-startup-api.sh:/home/node/entrypoint.d/docker-startup.sh
    restart: unless-stopped
    hostname: ${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - ${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      traefik_services:
        aliases:
          - ${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      kafka_services:
        aliases:
          - ${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.simva-api.loadbalancer.server.port=${SIMVA_SIMVA_API_PORT:-443}"
      - "traefik.http.routers.simva-api.rule=Host(`${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"

  simva-front:
    << : *default-opts
    command: ['bash', '/home/node/entrypoint.d/docker-startup.sh']
    stdin_open: true
    tty: true
    environment:
      #LOG
      LOG_LEVEL: "debug"
      LOG_FOLDER: "/home/node/logs"
      #LOG/DEBUG
      DEBUG: "${SIMVA_DEBUG:-true}"
      #NODES
      NODE_ENV: "${SIMVA_ENVIRONMENT:-development}"
      NODE_EXTRA_CA_CERTS: "/var/lib/simva/tls/ca/rootCA.pem"
      #SIMVA
      SIMVA_PORT: "3050"
      SIMVA_HOST:  "${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      SIMVA_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      SIMVA_URL: "https://${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      #SSO KEYCLOAK
      SSO_HOST: "${SIMVA_SSO_HOST_SUBDOMAIN:-sso}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      SSO_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      SSO_PORT: "443"
      SSO_ACCOUNT_PATH: "/account"
      SSO_USER_CAN_SELECT_ROLE: "${SIMVA_SSO_USER_CAN_SELECT_ROLE:-true}"
      SSO_ADMINISTRATOR_CONTACT: "${SIMVA_SSO_ADMINISTRATOR_CONTACT:-contact@administrator.com}"
      SSO_STUDENT_ALLOWED_ROLE: "${SIMVA_STUDENT_ALLOWED_ROLE:-true}"
      SSO_TEACHING_ASSISTANT_ALLOWED_ROLE: "${SIMVA_TEACHING_ASSISTANT_ALLOWED_ROLE:-true}"
      SSO_TEACHER_ALLOWED_ROLE: "${SIMVA_TEACHER_ALLOWED_ROLE:-true}"
      SSO_RESEARCHER_ALLOWED_ROLE: "${SIMVA_RESEARCHER_ALLOWED_ROLE:-true}"
      SSO_REALM: "${SIMVA_SSO_REALM:-simva}"
      SSO_CLIENT_ID: "${SIMVA_SIMVA_CLIENT_ID:-simva}"
      SSO_CLIENT_SECRET: "${SIMVA_SIMVA_CLIENT_SECRET:-secret}"
      SSO_SSL_REQUIRED: "external"
      SSO_PUBLIC_CLIENT: "false"
      #I18N LOCALES
      I18N_DEBUG: "${SIMVA_I18N_DEBUG:-false}"
      SIMVA_LOCALES: "${SIMVA_LOCALE:-en}"
      #SIMVA API
      SIMVA_API_HOST: "${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      SIMVA_API_PORT: "${SIMVA_SIMVA_API_PORT:-443}"
      SIMVA_API_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      SIMVA_USER: "${SIMVA_API_ADMIN_USERNAME:-admin}"
      SIMVA_PASSWORD: "${SIMVA_API_ADMIN_PASSWORD:-password}"
      SIMVA_WAIT_TIME: ${SIMVA_WAIT_TIME:-10}
      SIMVA_MAX_RETRIES: ${SIMVA_MAX_RETRIES:-20}
      SIMVA_TRAEFIK_FULLCHAIN_CERT_FILENAME: "${SIMVA_TRAEFIK_FULLCHAIN_CERT_FILENAME:-traefik-fullchain.pem}"
      #LIMESURVEY
      LIMESURVEY_HOST: "https://${SIMVA_LIMESURVEY_HOST_SUBDOMAIN:-limesurvey}.${SIMVA_EXTERNAL_DOMAIN:-external.test}/"
      LIMESURVEY_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      LIMESURVEY_PORT: "443"
      LIMESURVEY_ADMIN_USER: "${SIMVA_LIMESURVEY_ADMIN_USER:-admin}"
      LIMESURVEY_ADMIN_PASSWORD: "${SIMVA_LIMESURVEY_ADMIN_PASSWORD:-secret}"
      #LTI 
      LTI_ENABLED: "${SIMVA_LTI_ENABLED:-false}"
      #KAFKA
      SIMVA_KAFKA_CLIENTID: "${SIMVA_EVENTS_KAFKA_CLIENT_ID:-simva_events}"
      SIMVA_KAFKA_BROKER: "kafka1.${SIMVA_INTERNAL_DOMAIN:-internal.test}:9092"
      SIMVA_KAFKA_GROUPID: "${SIMVA_EVENTS_KAFKA_GROUP_ID:-simva_events}"
      SIMVA_KAFKA_SIMVA_EVENTS_TOPIC: "${SIMVA_SIMVA_EVENTS_TOPIC:-simva_events_topic}"
      #SHLINK
      SHLINK_SERVER_HOST: ${SIMVA_SHLINK_EXTERNAL_DOMAIN:-shlink.external.test}
      SHLINK_PORT: ${SIMVA_SHLINK_PORT:-443}
      SHLINK_PROTOCOL: ${SIMVA_SHLINK_EXTERNAL_PROTOCOL:-https}
      SHLINK_SERVER_API_KEY: ${SIMVA_SHLINK_API_KEY:-password}
      #TMON
      TMON_HOST: "${SIMVA_TMON_HOST_DASHBOARD_SUBDOMAIN:-tmon}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      TMON_PROTOCOL: "https"
      TMON_PORT: "443"
      TMON_MINIO_TRACES_FILE: "${SIMVA_SINK_TRACES_FILE:-traces.json}"      
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SIMVA_TLS_HOME?TLS home folder required}:/var/lib/simva/tls
      - simva_front_logs:/home/node/logs:rw
      - ${SIMVA_BIN_HOME:-/home/vagrant/simva-infra/docker-stacks/bin}/wait-available-with-connection.sh:/bin/wait-available-with-connection.sh:ro
      - ${STACK_HOME?STACK home folder required}/etc/entrypoint.d/docker-startup-front.sh:/home/node/entrypoint.d/docker-startup.sh
    depends_on:
      - simva-api
    restart: unless-stopped
    hostname: simva-front.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - simva-front.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      traefik_services:
        aliases:
          - simva-front.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.simva-front.loadbalancer.server.port=3050"
      - "traefik.http.routers.simva-front.rule=Host(`${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"
      
  simva-trace-allocator:
    << : *default-opts
    command: ['bash', '/home/node/entrypoint.d/docker-startup.sh']
    stdin_open: true
    tty: true
    environment:
      #DEBUG
      DEBUG: "${SIMVA_DEBUG:-true}"
      #LOG
      LOG_LEVEL: "debug"
      LOG_FOLDER: "/home/node/logs"
      #NODE
      NODE_ENV: "${SIMVA_ENVIRONMENT:-development}"
      NODE_EXTRA_CA_CERTS: "/var/lib/simva/tls/ca/rootCA.pem"
      #TRACE ALLOCATOR
      CONCAT_EVENT_POLICY: "${SIMVA_TRACE_ALLOCATOR_CONCAT_EVENT_POLICY:-true}"
      BATCH_SIZE: "${SIMVA_TRACE_ALLOCATOR_BATCH_SIZE:-100}"
      MAX_DELAY: "${SIMVA_TRACE_ALLOCATOR_MAX_DELAY:-5m}"
      REFRESH_INTERVAL: "${SIMVA_TRACE_ALLOCATOR_REFRESH_INTERVAL:-240m}"
      LOCAL_STATE: "${SIMVA_TRACE_ALLOCATOR_LOCAL_STATE:-/data}"
      REMOTE_STATE: "${SIMVA_TRACE_ALLOCATOR_REMOTE_STATE:-state}"
      REMOVE_DRY_RUN: "${SIMVA_TRACE_ALLOCATOR_REMOVE_DRY_RUN:-true}"
      GC_INTERVAL: "${SIMVA_TRACE_ALLOCATOR_GC_INTERVAL:-120m}"
      COPY_INSTEAD_RENAME: "${SIMVA_TRACE_ALLOCATOR_COPY_INSTEAD_RENAME:-true}"
      TRY_RECOVERY: ${SIMVA_TRACE_ALLOCATOR_TRY_RECOVERY:-true}
      #MINIO
      MINIO_HOST: "${SIMVA_MINIO_API_HOST_SUBDOMAIN:-minio-api}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      MINIO_SSL: "true"
      MINIO_PORT: "443"
      MINIO_ACCESS_KEY: "${SIMVA_MINIO_ACCESS_KEY:-minio}"
      MINIO_SECRET_KEY: "${SIMVA_MINIO_SECRET_KEY:-secret}"
      MINIO_BUCKET: "${SIMVA_TRACES_BUCKET_NAME:-traces}"
      MINIO_TOPICS_DIR: "${SIMVA_SINK_TOPICS_DIR:-kafka-topics}"
      MINIO_TRACES_TOPIC: "${SIMVA_TRACES_TOPIC:-traces}"
      MINIO_OUTPUTS_DIR: "${SIMVA_SINK_OUTPUTS_DIR:-outputs}"
      MINIO_TRACES_FILE: "${SIMVA_SINK_TRACES_FILE:-traces.json}"
      #SIMVA API
      SIMVA_HOST: "${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      SIMVA_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      SIMVA_PORT: "${SIMVA_SIMVA_API_PORT:-443}"
      SIMVA_USER: "${SIMVA_API_ADMIN_USERNAME:-admin}"
      SIMVA_PASSWORD: "${SIMVA_API_ADMIN_PASSWORD:-password}"
      SIMVA_WAIT_TIME: ${SIMVA_WAIT_TIME:-10}
      SIMVA_MAX_RETRIES: ${SIMVA_MAX_RETRIES:-20}
      SIMVA_TRAEFIK_FULLCHAIN_CERT_FILENAME: "${SIMVA_TRAEFIK_FULLCHAIN_CERT_FILENAME:-traefik-fullchain.pem}"
      #KAFKA
      SIMVA_KAFKA_CLIENTID: "${SIMVA_TRACE_ALLOCATOR_KAFKA_CLIENT_ID:-simva_trace_allocator}"
      SIMVA_KAFKA_BROKER: "kafka1.${SIMVA_INTERNAL_DOMAIN:-internal.test}:9092"
      SIMVA_KAFKA_GROUPID: "${SIMVA_TRACE_ALLOCATOR_KAFKA_GROUP_ID:-simva_trace_allocator}"
      SIMVA_KAFKA_MINIO_TOPIC: "${SIMVA_MINIO_EVENTS_TOPIC:-minio-events}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SIMVA_TLS_HOME?TLS home folder required}:/var/lib/simva/tls
      - simva_trace_allocator_logs:/home/node/logs:rw
      - simva_trace_allocator_data:${SIMVA_TRACE_ALLOCATOR_LOCAL_STATE:-/data}
      - ${SIMVA_BIN_HOME:-/home/vagrant/simva-infra/docker-stacks/bin}/wait-available-with-connection.sh:/bin/wait-available-with-connection.sh:ro
      - ${STACK_HOME?STACK home folder required}/etc/entrypoint.d/docker-startup-trace-allocator.sh:/home/node/entrypoint.d/docker-startup.sh
    depends_on:
      - simva-api
    restart: unless-stopped
    hostname: simva-trace-allocator.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - simva-trace-allocator.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      traefik_services:
        aliases:
          - simva-trace-allocator.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      kafka_services:
        aliases:
          - simva-trace-allocator.${SIMVA_INTERNAL_DOMAIN:-internal.test}

  pumva:
    << : *default-opts
    command: ['sh', '/home/node/entrypoint.d/docker-startup.sh']
    restart: unless-stopped
    stdin_open: true
    tty: true
    user: "${SIMVA_NODE_GUID:-1000}:${SIMVA_NODE_UUID:-1000}"
    environment:
      #DEBUG
      DEBUG: "${SIMVA_DEBUG:-true}"
      #LOG
      LOG_LEVEL: "debug"
      LOG_FOLDER: "/home/node/logs"
      #NODE
      NODE_ENV: "${SIMVA_ENVIRONMENT:-development}"
      NODE_EXTRA_CA_CERTS: "/var/lib/simva/tls/ca/rootCA.pem"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SIMVA_TLS_HOME?TLS home folder required}:/var/lib/simva/tls
      - pumva_logs:/home/node/logs:rw
      - ${STACK_HOME?STACK home folder required}/etc/entrypoint.d/docker-startup-pumva.sh:/home/node/entrypoint.d/docker-startup.sh
    hostname: pumva.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - pumva.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      traefik_services:
        aliases:
          - pumva.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.pumva.loadbalancer.server.port=3000"
      - "traefik.http.routers.pumva.rule=Host(`pumva.${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"
  
volumes:
  simva_trace_allocator_data:
    external: true
  simva_trace_allocator_logs:
    external: true
  simva_storage_data:
    external: true
  simva_api_logs:
    external: true
  simva_front_logs:
    external: true
  pumva_logs:
    external: true