version: '3.7'

x-default-opts: 
  &default-opts
  logging:
    options:
      max-size: "${SIMVA_LOGGING_MAX_FILE_SIZE}"
      max-file: "${SIMVA_LOGGING_MAX_FILES}"
  # driver: "gelf"
  # options:
  #   gelf-address: "udp://127.0.0.1:5000"

networks:
  traefik_services:
    name: "${SIMVA_SERVICE_NETWORK:-traefik_services}"
    external: true

services:
  pumva-database-initialization:
    build: ${SIMVA_PUMVA_GIT_REPO:-/home/vagrant/docker-stacks/data/simva/pumva}/pumva_initialize
    environment:
      SQL_SCRIPT_FOLDER: /app/sqlite
      SQL_DB_FOLDER: /sql_db
      SQL_DB_FILE: "${SIMVA_PUMVA_SQLITE_DB_FILE:-pumva_data.db}"
    volumes:
      - pumva_sqlite_data:/sql_db
      - ${SIMVA_PUMVA_GIT_REPO:-/home/vagrant/docker-stacks/data/simva/pumva}/pumva_initialize:/app
    command: ["python", "initialize-pumva.py"]

volumes:
  pumva_sqlite_data:
    external: true
