version: '3.7'

x-default-opts: 
  &default-opts
  logging:
    options:
      max-size: "${SIMVA_LOGGING_MAX_FILE_SIZE}"
      max-file: "${SIMVA_LOGGING_MAX_FILES}"
  # driver: "gelf"
  # options:
  #   gelf-address: "udp://127.0.0.1:5000"

networks:
  traefik_services:
    external: true

services:
# XXX: Explore options to protect /auth/admin
# see: https://www.keycloak.org/docs/latest/server_admin/#admin-endpoints-and-console
# XXX Improve healthcheck
# see: https://issues.redhat.com/browse/KEYCLOAK-1578, https://github.com/thomasdarimont/keycloak-health-checks/
  keycloak:
    << : *default-opts
    image: ${SIMVA_KEYCLOAK_IMAGE:-quay.io/keycloak/keycloak}:${SIMVA_KEYCLOAK_VERSION:-10.0.2}
    entrypoint:
      - '/bin/bash'
      - '-c'
      - '/container-tools/wait-for-it.sh -h $${DB_ADDR} -p 3306 -t $${WAIT_TIMEOUT} -- /opt/jboss/tools/docker-entrypoint.sh $$@'
    command:
      - "--"
      - "-b 0.0.0.0"
      - "-Dkeycloak.profile.feature.scripts=enabled"
    environment:
      - DB_VENDOR=mariadb
      - DB_ADDR=mariadb.${SIMVA_SSO_HOST_SUBDOMAIN:-sso}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      - DB_DATABASE=${SIMVA_KEYCLOAK_MYSQL_DATABASE:-keycloak}
      - DB_USER=${SIMVA_KEYCLOAK_MYSQL_USER:-keycloak}
      - DB_PASSWORD=${SIMVA_KEYCLOAK_MYSQL_PASSWORD:-password}
# XXX Seems that fails to start the server if the user is already added
# Verify: https://stackoverflow.com/a/60067870
# Verify: https://issues.redhat.com/browse/KEYCLOAK-12896
      - KEYCLOAK_USER=${SIMVA_KEYCLOAK_ADMIN_USER:-admin}
      - KEYCLOAK_PASSWORD=${SIMVA_KEYCLOAK_ADMIN_PASSWORD:-password}
      - PROXY_ADDRESS_FORWARDING=true
      - WAIT_TIMEOUT=${SIMVA_WAIT_TIMEOUT:-120}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SIMVA_CONTAINER_TOOLS_HOME:-/home/vagrant/docker-stacks/container-tools}:/container-tools
      - ${SIMVA_DATA_HOME}/keycloak/kcadm/keycloak-admin-cli-${SIMVA_KEYCLOAK_VERSION:-10.0.2}.jar:/opt/jboss/keycloak/bin/client/keycloak-admin-cli-${SIMVA_KEYCLOAK_VERSION:-10.0.2}.jar
    restart: unless-stopped
    healthcheck:
      test: "curl -sS http://localhost:8080 || exit 1"
      interval: 60s
      timeout: 20s
      retries: 3
    hostname: ${SIMVA_SSO_HOST_SUBDOMAIN:-sso}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    depends_on:
      - mariadb
    networks:
      default:
        aliases:
          - ${SIMVA_SSO_HOST_SUBDOMAIN:-sso}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      traefik_services:
        aliases:
          - ${SIMVA_SSO_HOST_SUBDOMAIN:-sso}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
      - "traefik.http.routers.keycloak.rule=Host(`${SIMVA_SSO_HOST_SUBDOMAIN:-sso}.${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.keycloak.middlewares=secHeaders@file"