version: '3.7'

x-default-opts: 
  &default-opts
  logging:
    options:
      max-size: "${SIMVA_LOGGING_MAX_FILE_SIZE}"
      max-file: "${SIMVA_LOGGING_MAX_FILES}"
  # driver: "gelf"
  # options:
  #   gelf-address: "udp://127.0.0.1:5000"

volumes:
  mariadb:
    driver: local

networks:
  traefik_services:
    external: true

services:
  phpmyadmin:
    << : *default-opts
    image: ${SIMVA_PHPMYADMIN_IMAGE:-phpmyadmin/phpmyadmin}:${SIMVA_PHPMYADMIN_VERSION:-5.0.2}
    environment:
      PMA_HOST: "mariadb.${SIMVA_LIMESURVEY_HOST_SUBDOMAIN:-limesurvey}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
    depends_on:
      - mariadb
    volumes:
      - /etc/localtime:/etc/localtime:ro
    hostname: phpmyadmin.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - phpmyadmin.${SIMVA_LIMESURVEY_HOST_SUBDOMAIN:-limesurvey}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      traefik_services:
        aliases:
          - phpmyadmin.${SIMVA_LIMESURVEY_HOST_SUBDOMAIN:-limesurvey}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.ls-phpmyadmin.loadbalancer.server.port=80"
      - "traefik.http.routers.ls-phpmyadmin.rule=Host(`${SIMVA_PHPMYADMIN_LS_HOST_SUBDOMAIN:-phpmyadmin-ls}.${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"
      - "traefik.http.routers.ls-phpmyadmin.middlewares=dashboardAuth@file"