<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>LimeSuveyStatusWebhookPlugin</name>
        <type>plugin</type>
        <creationDate>2023-08-26</creationDate>
        <lastUpdate>2024-10-14</lastUpdate>
        <author>Stefan Verweij | Evently, IrishWolf</author>
        <version>1.0.0</version>
        <lastSecurityUpdate>1.0.0</lastSecurityUpdate>
        <license>-</license>
        <description>Triggers an API call when a survey is begining and when is completed.</description>
        <active>true</active>
    </metadata>

	<compatibility>
        <version>4</version>
        <version>6</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>