version: '3.7'

x-default-opts: 
  &default-opts
  logging:
    options:
      max-size: "${SIMVA_LOGGING_MAX_FILE_SIZE}"
      max-file: "${SIMVA_LOGGING_MAX_FILES}"
  # driver: "gelf"
  # options:
  #   gelf-address: "udp://127.0.0.1:5000"

networks:
  traefik_services:
    name: "${SIMVA_SERVICE_NETWORK:-traefik_services}"
    external: true
  kafka_services:
    driver: bridge
    name: "${SIMVA_KAFKA_NETWORK:-kafka_services}"
    external: true

services:
  mongodb:
    << : *default-opts
    image: mongo:4.2.8
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SIMVA_DATA_HOME:-/home/vagrant/docker-stacks/data}/simva/mongo:/data/db
    hostname: ${SIMVA_MONGO_HOST_SUBDOMAIN:-simva-mongo}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - ${SIMVA_MONGO_HOST_SUBDOMAIN:-simva-mongo}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    ports:
        - "27017:27017"

  simva-api:
    << : *default-opts
    image: node:14
    command: bash -c "mkdir -p ${SIMVA_STORAGE_PATH:-/storage} && cd /app && chmod +x docker-startup.sh && ./docker-startup.sh"
    stdin_open: true
    tty: true
    environment:
      #WAIT TIME FOR KEYCLOAK AVAILABILITY
      WAIT_TIMEOUT: ${SIMVA_WAIT_TIMEOUT:-240}
      MC_WAIT_TIME: ${SIMVA_WAIT_TIME:-10}
      MC_MAX_RETRIES: ${SIMVA_MAX_RETRIES:-20}
      #DEBUG
      DEBUG: "${SIMVA_DEBUG:-true}"
      #NODE
      NODE_ENV: "${SIMVA_ENVIRONMENT:-development}"
      NODE_EXTRA_CA_CERTS: "/var/lib/simva/ca/rootCA.pem"
      #EXTERNAL URL
      EXTERNAL_URL: "https://${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      #SIMVA API (SELF)
      SIMVA_API_HOST: "${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      SIMVA_API_PORT: "${SIMVA_SIMVA_API_PORT:-443}"
      SIMVA_API_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      ADMIN_USERNAME: "${SIMVA_API_ADMIN_USERNAME:-admin}"
      ADMIN_EMAIL: "${SIMVA_API_ADMIN_USERNAME:-admin}@${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      ADMIN_PASSWORD: "${SIMVA_API_ADMIN_PASSWORD:-password}"
      MAX_UPLOAD_FILE_SIZE: "${SIMVA_MAX_UPLOAD_FILE_SIZE:-33554432}"
      #MONGO DB
      MONGO_HOST: "${SIMVA_MONGO_HOST_SUBDOMAIN:-simva-mongo}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
      MONGO_DB: "${SIMVA_API_MONGO_DB:-/simva}"
      LTI_MONGO_DB: "${SIMVA_API_LTI_MONGO_DB:-/lti_simva}"
      #KAFKA
      KAFKA_HOST: "kafka1.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
      KAFKA_PORT: "9092"
      #MINIO
      MINIO_URL: "https://${SIMVA_MINIO_HOST_SUBDOMAIN:-minio}.${SIMVA_EXTERNAL_DOMAIN:-external.test}/"
      MINIO_ACCESS_KEY: "${SIMVA_MINIO_ACCESS_KEY:-minio}"
      MINIO_SECRET_KEY: "${SIMVA_MINIO_SECRET_KEY:-secret}"
      MINIO_BUCKET: "${SIMVA_TRACES_BUCKET_NAME:-traces}"
      MINIO_TOPICS_DIR: "${SIMVA_SINK_TOPICS_DIR:-kafka-topics}"
      MINIO_TRACE_TOPIC: "${SIMVA_TRACES_TOPIC:-traces}"
      MINIO_USERS_DIR: "${SIMVA_SINK_USERS_DIR:-users}"
      MINIO_TRACES_FILE: "${SIMVA_SINK_TRACES_FILE:-traces-v2.json}"
      #LIMESURVEY
      LIMESURVEY_HOST: "${SIMVA_LIMESURVEY_HOST_SUBDOMAIN:-limesurvey}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      LIMESURVEY_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      LIMESURVEY_PORT: "443"
      LIMESURVEY_EXTERNAL: "https://${SIMVA_LIMESURVEY_HOST_SUBDOMAIN:-limesurvey}.${SIMVA_EXTERNAL_DOMAIN:-external.test}/"
      LIMESURVEY_ADMIN_USER: "${SIMVA_LIMESURVEY_ADMIN_USER:-admin}"
      LIMESURVEY_ADMIN_PASSWORD: "${SIMVA_LIMESURVEY_ADMIN_PASSWORD:-secret}"
      #SSO KEYCLOAK
      SSO_ENABLED: "true"
      SSO_REALM: "${SIMVA_SSO_REALM:-simva}"
      SSO_CLIENT_ID: "${SIMVA_SIMVA_CLIENT_ID:-simva}"
      SSO_CLIENT_SECRET: "${SIMVA_SIMVA_CLIENT_SECRET:-secret}"
      SSO_ALLOWED_ROLES: "${SIMVA_SSO_ALLOWED_ROLES:-teacher,teaching-assistant,researcher,student}"
      SSO_SSL_REQUIRED: "external"
      SSO_PUBLIC_CLIENT: "false"
      SSO_HOST: "${SIMVA_SSO_HOST_SUBDOMAIN:-sso}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      SSO_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      SSO_PORT: "443"
      SSO_ADMIN_USER: "${SIMVA_ADMINISTRATOR_USER:-administrator}"
      SSO_ADMIN_PASSWORD: "${SIMVA_ADMINISTRATOR_PASSWORD:-administrator}"
      #A2
      A2_HOST: "${SIMAV_A2_HOST:-a2}"
      A2_PROTOCOL: "http"
      A2_PORT: "3000"
      A2_ADMIN_USER: "${SIMVA_A2_ADMIN_USER:-root}"
      A2_ADMIN_PASSWORD: "${SIMVA_A2_ADMIN_PASSWORD:-password}"
      A2_EXTERNAL: "https://${SIMVA_ANALYTICS_HOST_SUBDOMAIN:-analytics}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      #ANALYTICS BACKEND
      ANALYTICSBACKEND_API: "${SIMVA_A2_ANALYTICSBACKEND_API:-/api/proxy/gleaner}"
      #LTI
      LTI_PLATFORM_CLIENT_ID: "${SIMVA_LTI_PLATFORM_CLIENT_ID:-lti_platform}"
      LTI_PLATFORM_SIGNING_KEY: "${SIMVA_LTI_PLATFORM_CLIENT_SECRET:-secret}"
      LTI_PLATFORM_DB_NAME: "${SIMVA_API_LTI_MONGO_DB:-/lti_simva}"
      LTI_PLATFORM_DB_USER:  "${SIMVA_LTI_PLATFORM_DB_USER:-root}"
      LTI_PLATFORM_DB_PASSWORD: "${SIMVA_LTI_PLATFORM_DB_PASSWORD:-password}"
      #STORAGE
      SIMVA_STORAGE_PATH: "${SIMVA_STORAGE_LOCAL_PATH:-/storage}/"
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SIMVA_TLS_HOME?TLS home folder required}/ca:/var/lib/simva/ca
      - ${SIMVA_DATA_HOME:-/home/vagrant/docker-stacks/data}/simva/simva-api:/app
      - ${SIMVA_DATA_HOME:-/home/vagrant/docker-stacks/data}/simva${SIMVA_STORAGE_LOCAL_PATH:-/storage}:${SIMVA_STORAGE_LOCAL_PATH:-/storage}
      - ${SIMVA_DATA_HOME:-/home/vagrant/docker-stacks/data}/simva/simva-api-logs:/root/.npm/_logs/
      - ${SIMVA_CONTAINER_TOOLS_HOME:-/home/vagrant/docker-stacks/container-tools}:/container-tools
    depends_on:
      - mongodb
    hostname: ${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - ${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      traefik_services:
        aliases:
          - ${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      kafka_services:
        aliases:
          - ${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.simva-api.loadbalancer.server.port=${SIMVA_SIMVA_API_PORT:-443}"
      - "traefik.http.routers.simva-api.rule=Host(`${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"

  simva-front:
    << : *default-opts
    image: node:12.18.2
    command: bash -c "cd /app && chmod +x docker-startup.sh && ./docker-startup.sh"
    stdin_open: true
    tty: true
    environment:
      #LOG/DEBUG
      DEBUG: "${SIMVA_DEBUG:-true}"
      #NODES
      NODE_ENV: "${SIMVA_ENVIRONMENT:-development}"
      NODE_EXTRA_CA_CERTS: "/var/lib/simva/ca/rootCA.pem"
      #SIMVA
      SIMVA_PORT: "3050"
      SIMVA_HOST:  "${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      SIMVA_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      SIMVA_URL: "https://${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      #MONGO DB
      MONGO_HOST: "${SIMVA_MONGO_HOST_SUBDOMAIN:-simva-mongo}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
      MONGO_DB: "${SIMVA_FRONT_MONGO_DB:-/simva-front}"
      #SSO KEYCLOAK
      SSO_HOST: "${SIMVA_SSO_HOST_SUBDOMAIN:-sso}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      SSO_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      SSO_PORT: "443"
      SSO_ACCOUNT_PATH: "/account"
      SSO_USER_CAN_SELECT_ROLE: "${SIMVA_SSO_USER_CAN_SELECT_ROLE:-true}"
      SSO_ALLOWED_ROLES: "${SIMVA_SSO_ALLOWED_ROLES:-teacher,teaching-assistant,researcher,student}"
      SSO_REALM: "${SIMVA_SSO_REALM:-simva}"
      SSO_CLIENT_ID: "${SIMVA_SIMVA_CLIENT_ID:-simva}"
      SSO_CLIENT_SECRET: "${SIMVA_SIMVA_CLIENT_SECRET:-secret}"
      SSO_SSL_REQUIRED: "external"
      SSO_PUBLIC_CLIENT: "false"
      #SIMVA API
      SIMVA_API_HOST: "${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      SIMVA_API_PORT: "${SIMVA_SIMVA_API_PORT:-443}"
      SIMVA_API_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      #LIMESURVEY
      LIMESURVEY_HOST: "https://${SIMVA_LIMESURVEY_HOST_SUBDOMAIN:-limesurvey}.${SIMVA_EXTERNAL_DOMAIN:-external.test}/"
      LIMESURVEY_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      LIMESURVEY_PORT: "443"
      LIMESURVEY_ADMIN_USER: "${SIMVA_LIMESURVEY_ADMIN_USER:-admin}"
      LIMESURVEY_ADMIN_PASSWORD: "${SIMVA_LIMESURVEY_ADMIN_PASSWORD:-secret}"
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SIMVA_TLS_HOME?TLS home folder required}/ca:/var/lib/simva/ca
      - ${SIMVA_DATA_HOME:-/home/vagrant/docker-stacks/data}/simva/simva-front:/app
    depends_on:
      - simva-api
    hostname: simva-front.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - simva-front.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      traefik_services:
        aliases:
          - simva-front.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.simva-front.loadbalancer.server.port=3050"
      - "traefik.http.routers.simva-front.rule=Host(`${SIMVA_EXTERNAL_DOMAIN:-external.test}`)"

  simva-trace-allocator:
    << : *default-opts
    image: node:20.9.0-bullseye
    command: bash -c "cd /app && chmod +x docker-startup.sh && ./docker-startup.sh"
    stdin_open: true
    tty: true
    environment:
      #DEBUG
      DEBUG: "${SIMVA_DEBUG:-true}"
      #LOG
      LOG_LEVEL: "debug"
      #NODE
      NODE_ENV: "${SIMVA_ENVIRONMENT:-development}"
      NODE_EXTRA_CA_CERTS: "/var/lib/simva/ca/rootCA.pem"
      #TRACE ALLOCATOR
      BATCH_SIZE: "${SIMVA_TRACE_ALLOCATOR_BATCH_SIZE:-100}"
      MAX_DELAY: ${SIMVA_TRACE_ALLOCATOR_TRY_RECOVERY:-true}
      REFRESH_INTERVAL: "${SIMVA_TRACE_ALLOCATOR_REFRESH_INTERVAL:-14400000}"
      LOCAL_STATE: "${SIMVA_TRACE_ALLOCATOR_LOCAL_STATE:-/data}"
      REMOTE_STATE: "${SIMVA_TRACE_ALLOCATOR_REMOTE_STATE:-state}"
      REMOVE_DRY_RUN: "${SIMVA_TRACE_ALLOCATOR_REMOVE_DRY_RUN:-true}"
      GC_INTERVAL: "${SIMVA_TRACE_ALLOCATOR_GC_INTERVAL:-}"
      COPY_INSTEAD_RENAME: "${SIMVA_TRACE_ALLOCATOR_COPY_INSTEAD_RENAME:-true}"
      TRY_RECOVERY: ${SIMVA_TRACE_ALLOCATOR_TRY_RECOVERY:-true}
      #MINIO
      MINIO_HOST: "${SIMVA_MINIO_HOST_SUBDOMAIN:-minio}.${SIMVA_EXTERNAL_DOMAIN:-external.test}"
      MINIO_SSL: "true"
      MINIO_PORT: "443"
      MINIO_ACCESS_KEY: "${SIMVA_MINIO_ACCESS_KEY:-minio}"
      MINIO_SECRET_KEY: "${SIMVA_MINIO_SECRET_KEY:-secret}"
      MINIO_BUCKET: "${SIMVA_TRACES_BUCKET_NAME:-traces}"
      MINIO_TOPICS_DIR: "${SIMVA_SINK_TOPICS_DIR:-kafka-topics}"
      MINIO_TRACE_TOPIC: "${SIMVA_TRACES_TOPIC:-traces}"
      MINIO_USERS_DIR: "${SIMVA_SINK_USERS_DIR:-users}"
      MINIO_TRACES_FILE: "${SIMVA_SINK_TRACES_FILE:-traces_v2.json}"
      #SIMVA API
      SIMVA_HOST: "${SIMVA_SIMVA_API_HOST_SUBDOMAIN:-simva-api}.${SIMVA_INTERNAL_DOMAIN:-internal.test}"
      SIMVA_PROTOCOL: "${SIMVA_EXTERNAL_PROTOCOL:-https}"
      SIMVA_PORT: "${SIMVA_SIMVA_API_PORT:-443}"
      SIMVA_USER: "${SIMVA_API_ADMIN_USERNAME}"
      SIMVA_PASSWORD: "${SIMVA_API_ADMIN_PASSWORD}"
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${SIMVA_TLS_HOME?TLS home folder required}/ca:/var/lib/simva/ca
      - ${SIMVA_DATA_HOME:-/home/vagrant/docker-stacks/data}/simva/simva-trace-allocator:/app
      - ${SIMVA_DATA_HOME:-/home/vagrant/docker-stacks/data}/simva/simva-trace-allocator-data:/${SIMVA_TRACE_ALLOCATOR_LOCAL_STATE:-/data}
    depends_on:
      - simva-api
    hostname: simva-trace-allocator.${SIMVA_INTERNAL_DOMAIN:-internal.test}
    networks:
      default:
        aliases:
          - simva-trace-allocator.${SIMVA_INTERNAL_DOMAIN:-internal.test}
      traefik_services:
        aliases:
          - simva-trace-allocator.${SIMVA_INTERNAL_DOMAIN:-internal.test}